img {
  max-width: 100%; }

.content-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #222;
  padding: 30px;
  max-width: 90vw;
  background-color: rgba(0, 0, 0, 0.3);
  color: white; }
  .content-box.content-box-center {
    justify-content: center;
    align-items: center; }

#landing {
  background: #221b9c;
  background: -moz-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: -webkit-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221b9c",endColorstr="#00d4ff",GradientType=1); }

.stat-card {
  border-radius: .25rem;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: stretch; }
  .stat-card .stat-card-img {
    font-size: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    color: #fff; }
  .stat-card .stat-card-body {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700; }

.progress {
  margin-bottom: 1em; }

img.loading-icon {
  max-height: 48px;
  margin-left: 10px; }

h1.section-header {
  font-size: 2em;
  padding: 0 0 10px 0;
  margin: 20px 0 0 0; }

p.sub-header {
  margin-bottom: 50px; }

button:hover {
  cursor: pointer; }

.stat-country-title {
  text-transform: capitalize; }

#landing {
  background: #221b9c;
  background: -moz-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: -webkit-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221b9c",endColorstr="#00d4ff",GradientType=1); }

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

#landing {
  background: #221b9c;
  background: -moz-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: -webkit-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221b9c",endColorstr="#00d4ff",GradientType=1); }

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .navbar .navbar-brand img {
    height: auto;
    width: 200px; }
  .navbar .navbar-text, .navbar .nav-link {
    font-size: 88%;
    color: rgba(0, 0, 0, 0.7) !important; }
  .navbar a.nav-link i.fa-bell, .navbar a.nav-link i.fa-question-circle {
    font-size: 20px;
    margin-top: 3px; }
    .navbar a.nav-link i.fa-bell.with-notification, .navbar a.nav-link i.fa-question-circle.with-notification {
      position: relative; }
      .navbar a.nav-link i.fa-bell.with-notification:after, .navbar a.nav-link i.fa-question-circle.with-notification:after {
        position: absolute;
        content: "3";
        width: 15px;
        height: 15px;
        background-color: #dc3545;
        top: 6px;
        left: -10px;
        border-radius: 50%;
        font-size: 12px;
        padding: 2px;
        text-align: center;
        font-weight: 600;
        color: white;
        opacity: 0.9; }

#landing {
  background: #221b9c;
  background: -moz-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: -webkit-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221b9c",endColorstr="#00d4ff",GradientType=1); }

#sidebar {
  padding: 20px 0;
  min-height: calc(100vh - 58px); }
  #sidebar .guest-user {
    width: 100%;
    text-align: center;
    margin: 30px 0; }
    #sidebar .guest-user .dropdown .dropdown-menu .dropdown-item {
      font-size: 90%; }
      #sidebar .guest-user .dropdown .dropdown-menu .dropdown-item.sign-out {
        background-color: rgba(0, 0, 0, 0.2);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: -8px; }
    #sidebar .guest-user i.fa-user {
      font-size: 50px;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
      padding: 20px;
      width: 100px;
      height: 100px;
      margin-bottom: 10px; }
    #sidebar .guest-user .guest-user-link {
      display: block;
      color: #fff;
      text-transform: uppercase; }
  #sidebar .nav-link {
    color: #fff;
    margin: 10px 0;
    transition: 0.2s;
    position: relative; }
    #sidebar .nav-link i {
      margin-right: 0.5em; }
    #sidebar .nav-link.messages:before {
      position: absolute;
      content: "15";
      background-color: #17a2b8;
      border-radius: 45%;
      font-size: 12px;
      top: 10px;
      right: 20px;
      text-align: center;
      width: 35px;
      height: 20px;
      color: white;
      padding: 1px 2px 0 0;
      font-weight: 600; }
    #sidebar .nav-link.active, #sidebar .nav-link:hover {
      color: #007bff;
      background-color: rgba(0, 0, 0, 0.35);
      border-left: 10px solid #007bff; }

img.world-map {
  width: 100%;
  height: auto; }
