@import 'variables.sass'

.stat-card
  border-radius: .25rem
  min-width: 0
  word-wrap: break-word
  background-color: #fff
  background-clip: border-box
  border: 1px solid rgba(0,0,0,.125)
  display: flex
  flex-direction: row
  justify-items: center
  align-items: stretch

  .stat-card-img
    font-size: 50px
    padding: 0 20px
    display: flex
    align-items: center
    justify-items: center
    color: $white

  .stat-card-body
    padding: 20px
    text-transform: uppercase
    font-weight: $font-heavy

.progress
  margin-bottom: 1em

img.loading-icon
  max-height: 48px
  margin-left: 10px
