#landing {
  background: #221b9c;
  background: -moz-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: -webkit-linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  background: linear-gradient(135deg, #221b9c 0%, #4545a6 35%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221b9c",endColorstr="#00d4ff",GradientType=1); }

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }
