.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .navbar .navbar-brand img {
    height: auto;
    width: 200px; }
  .navbar .navbar-text, .navbar .nav-link {
    font-size: 88%;
    color: rgba(0, 0, 0, 0.7) !important; }
  .navbar a.nav-link i.fa-bell, .navbar a.nav-link i.fa-question-circle {
    font-size: 20px;
    margin-top: 3px; }
    .navbar a.nav-link i.fa-bell.with-notification, .navbar a.nav-link i.fa-question-circle.with-notification {
      position: relative; }
      .navbar a.nav-link i.fa-bell.with-notification:after, .navbar a.nav-link i.fa-question-circle.with-notification:after {
        position: absolute;
        content: "3";
        width: 15px;
        height: 15px;
        background-color: #dc3545;
        top: 6px;
        left: -10px;
        border-radius: 50%;
        font-size: 12px;
        padding: 2px;
        text-align: center;
        font-weight: 600;
        color: white;
        opacity: 0.9; }
