@import 'variables.sass'

.navbar
  border-bottom: 1px solid rgba(0,0,0,0.3)

  .navbar-brand
    img
      height: auto
      width: 200px

  .navbar-text, .nav-link
    font-size: 88%
    color: rgba(0,0,0,0.7) !important

  a.nav-link
    i.fa-bell, i.fa-question-circle
      font-size: 20px
      margin-top: 3px

      &.with-notification
        position: relative

        &:after
          position: absolute
          content: "3"
          width: 15px
          height: 15px
          background-color: $brand-danger
          top: 6px
          left: -10px
          border-radius: 50%
          font-size: 12px
          padding: 2px
          text-align: center
          font-weight: 600
          color: white
          opacity: 0.9
