#sidebar {
  padding: 20px 0;
  min-height: calc(100vh - 58px); }
  #sidebar .guest-user {
    width: 100%;
    text-align: center;
    margin: 30px 0; }
    #sidebar .guest-user .dropdown .dropdown-menu .dropdown-item {
      font-size: 90%; }
      #sidebar .guest-user .dropdown .dropdown-menu .dropdown-item.sign-out {
        background-color: rgba(0, 0, 0, 0.2);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: -8px; }
    #sidebar .guest-user i.fa-user {
      font-size: 50px;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
      padding: 20px;
      width: 100px;
      height: 100px;
      margin-bottom: 10px; }
    #sidebar .guest-user .guest-user-link {
      display: block;
      color: #fff;
      text-transform: uppercase; }
  #sidebar .nav-link {
    color: #fff;
    margin: 10px 0;
    transition: 0.2s;
    position: relative; }
    #sidebar .nav-link i {
      margin-right: 0.5em; }
    #sidebar .nav-link.messages:before {
      position: absolute;
      content: "15";
      background-color: #17a2b8;
      border-radius: 45%;
      font-size: 12px;
      top: 10px;
      right: 20px;
      text-align: center;
      width: 35px;
      height: 20px;
      color: white;
      padding: 1px 2px 0 0;
      font-weight: 600; }
    #sidebar .nav-link.active, #sidebar .nav-link:hover {
      color: #007bff;
      background-color: rgba(0, 0, 0, 0.35);
      border-left: 10px solid #007bff; }
