@import 'variables.sass'

#sidebar
  padding: 20px 0
  min-height: calc(100vh - 58px)

  .guest-user
    width: 100%
    text-align: center
    margin: 30px 0

    .dropdown
      .dropdown-menu
        .dropdown-item
          font-size: 90%

          &.sign-out
            background-color: rgba(0,0,0,0.2)
            padding-top: 10px
            padding-bottom: 10px
            margin-bottom: -8px

    i.fa-user
      font-size: 50px
      text-align: center
      //color: $white
      background-color: $white
      border-radius: 50%
      padding: 20px
      width: 100px
      height: 100px
      margin-bottom: 10px

    .guest-user-link
      display: block
      color: $white
      text-transform: uppercase

  .nav-link
    color: $white
    margin: 10px 0
    transition: 0.2s
    position: relative

    i
      margin-right: 0.5em

    &.messages:before
      position: absolute
      content: "15"
      background-color: $brand-info
      border-radius: 45%
      font-size: 12px
      top: 10px
      right: 20px
      text-align: center
      width: 35px
      height: 20px
      color: white
      padding: 1px 2px 0 0
      font-weight: 600

    &.active, &:hover
      color: $brand-primary
      background-color: rgba(0,0,0,0.35)
      border-left: 10px solid $brand-primary

