img
  max-width: 100%

.content-box
  display: flex
  flex-direction: column
  border: 1px solid #222
  padding: 30px
  max-width: 90vw
  background-color: rgba(0,0,0,0.3)
  color: white

  &.content-box-center
    justify-content: center
    align-items: center