h1.section-header {
  font-size: 2em;
  padding: 0 0 10px 0;
  margin: 20px 0 0 0; }

p.sub-header {
  margin-bottom: 50px; }

button:hover {
  cursor: pointer; }

.stat-country-title {
  text-transform: capitalize; }
