%landing-bg-gradient
  background: rgb(34,27,156)
  background: -moz-linear-gradient(135deg, rgba(34,27,156,1) 0%, rgba(69,69,166,1) 35%, rgba(0,212,255,1) 100%)
  background: -webkit-linear-gradient(135deg, rgba(34,27,156,1) 0%, rgba(69,69,166,1) 35%, rgba(0,212,255,1) 100%)
  background: linear-gradient(135deg, rgba(34,27,156,1) 0%, rgba(69,69,166,1) 35%, rgba(0,212,255,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221b9c",endColorstr="#00d4ff",GradientType=1)


//colors
$white:             #fff
$black:             rgb(0,0,0)
$gray:              rgba(0,0,0,0.6)
$brand-primary:     #007bff
$brand-secondary:   #6c757d
$brand-success:     #28a745
$brand-warning:     #ffc107
$brand-danger:      #dc3545
$brand-info:        #17a2b8

//fonts
$font-heavy:        700