@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto:400,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.App {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}